canvas{display:block;vertical-align:bottom}#particles-js{position:absolute;width:100%;height:100%;background:#00000f;z-index:-1}.center{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}.image{border-radius:50%}.header1{font-family:righteous,cursive;font-size:6vw;color:#cf985c}.header2{font-family:ubuntu mono,monospace;font-size:1.4vw;color:#cf985c}.header3{font-family:ubuntu mono,monospace;font-size:2.2vw;color:#cf985c}.link1{font-family:ubuntu mono,monospace;font-size:2.8vw;color:inherit;margin:0 3px;transition:.5s;color:#cf985c}.link1:hover{color:ivory}@media screen and (max-width:785px){.header1{font-size:8vw}.link1{font-size:4vw}}@media screen and (max-width:765px){body{text-align:center}.header1{font-size:9vw}.header2{font-size:2.5vw}.link1{font-size:5vw}}@media screen and (min-width:1390px){.header2{font-size:1.2vw}}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');





::-webkit-scrollbar {


    width: 12px;


}


::-webkit-scrollbar-track {


    background-color: var(--dark-blurple);


}





::-webkit-scrollbar-thumb {


    background-color: var(--blurple-hover);


}














body, html {


    background-color: var(--blurple);


    font-family: 'Poppins', sans-serif;


    color:white;


	scroll-behavior: smooth;	

}





.blurple-dark {


    background-color: var(--dark-blurple);


    transition-duration: 0.5s;


}








.blurple-dark:hover {


    background-color: var(--blurple-hover);


    transition-duration: 0.5s;


}





@media screen and (min-width: 800px) {


.efendimaskim {


margin-left: 5  5%;


}


}





.team {


    display:flex;


    position:right;


    flex-wrap:wrap;


    align-items:center;


    justify-content:flex-end;


}














/* SNACKBAR BUTONU */


/* The snackbar - position it at the bottom and in the middle of the screen */





#snackbar {


  visibility: hidden; /* Hidden by default. Visible on click */


  min-width: 250px; /* Set a default minimum width */


  margin-left: -125px; /* Divide value of min-width by 2 */


  background-color: #333; /* Black background color */


  color: #fff; /* White text color */


  text-align: center; /* Centered text */


  border-radius: 2px; /* Rounded borders */


  padding: 16px; /* Padding */


  position: fixed; /* Sit on top of the screen */


  z-index: 1; /* Add a z-index if needed */


  left: 50%; /* Center the snackbar */


  bottom: 30px; /* 30px from the bottom */


}








/* Show the snackbar when clicking on a button (class added with JavaScript) */


#snackbar.show {


  visibility: visible; /* Show the snackbar */


  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.


  However, delay the fade out process for 2.5 seconds */


  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;


  animation: fadein 0.5s, fadeout 0.5s 2.5s;


}





/* Animations to fade the snackbar in and out */


@-webkit-keyframes fadein {


  from {bottom: 0; opacity: 0;}


  to {bottom: 30px; opacity: 1;}


}





@keyframes fadein {


  from {bottom: 0; opacity: 0;}


  to {bottom: 30px; opacity: 1;}


}





@-webkit-keyframes fadeout {


  from {bottom: 30px; opacity: 1;}


  to {bottom: 0; opacity: 0;}


}





@keyframes fadeout {


  from {bottom: 30px; opacity: 1;}


  to {bottom: 0; opacity: 0;}


}





.buttons::first-child {


  margin-left: 0vh;


}








.buttons {


  margin-left: 1vh;


}





.vatanmillet:hover {


  transform: translateY(0) scale(1.2);


  transition: 0.5s;


}





.imageeffect:hover {


  text-shadow: 0 0 9px #60aac5, 0 0 9px #60aac5;


  color: #60aac5;


}





.imageeffect  {


  color: #fff;


  transition: 0.5s;


}





.title[data-v-6a276cd6] {


  font-weight: 700;


  font-size: 2.25rem;


  line-height: 2.5rem;


  margin-bottom: 2rem


}





@media (min-width: 984px) {


  .title[data-v-6a276cd6] {


      font-size:4.5rem;


      line-height: 1;


      line-height: 5rem;


      margin-bottom: 3.5rem


  }


}





.title[data-v-6a276cd6] span {


  position: relative;


  z-index: 10


}





.title[data-v-6a276cd6] span:after {


  content: "";


  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='333' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 25c64.966-11.94 219.119-29.413 316-3.793m0-.18c-42.008-.281-136.219 1.52-177 10.973' stroke='%23E3DCFF' stroke-width='16' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");


  background-repeat: no-repeat;


  background-size: 100%;


  display: none;


  height: 40px;


  margin-left: auto;


  margin-right: auto;


  position: absolute;


  right: 0;


  left: 0;


  bottom: -12px;


  width: 100%;


  z-index: -10


}





@media (min-width: 984px) {


  .title[data-v-6a276cd6] span:after {


      display:block


  





*{


    margin: 0;


    padding: 0;


    box-sizing: border-box;


}





*, *:after, *:before {


  box-sizing: border-box;


}





.bg{


  background-image: radial-gradient(


                    circle at 100% 50%,  


                    #FF8B8C 65%, 


                    #FF3F40 35%);


  


    width: 55rem;


    height: 31rem;


     


    display: flex;


    justify-content: center;


    align-items: center;


  }





.btn {


    text-transform: uppercase;


    font-size: 3.5rem;


    border: none;


    border-radius: .5rem;


    width: 30rem;


    height: 11rem;


    box-shadow: 


      0 4px 8px 0 rgba(0, 0, 0, 0.2), 


      0 6px 20px 0 rgba(0, 0, 0, 0.19);


    cursor: pointer;


}





.blue {


    color: #fff;


  background-image: radial-gradient(circle at 0% 50%, #7FC2F7 50%, #2196F3 50%);


    


}





.blue:hover {


   background-image: radial-gradient(circle at 0% 50%, #7fc2f7b3 50%, #2196f3b8 50%);


}





	body {


    background: black;


}


   











  }


}




